#vt1{position:absolute; left:323px; padding-top:5px; top:181px; width:120px; height:80px}
#vt2{position:absolute; left:463px; padding-top:5px; top:182px; width:120px; height:80px}
#vt3{position:absolute; left:321px; padding-top:5px; top:282px; width:120px; height:80px}
#vt4{position:absolute; left:944px; padding-top:5px; top:61px; width:120px; height:80px}
#vt5{position:absolute; left:321px; padding-top:5px; top:381px; width:120px; height:80px}
#vt6{position:absolute; left:461px; padding-top:5px; top:381px; width:120px; height:80px}
#vt7{position:absolute; left:322px; padding-top:5px; top:481px; width:120px; height:80px}
#vt8{position:absolute; left:463px; padding-top:5px; top:481px; width:120px; height:80px}
#vt9{position:absolute; left:322px; padding-top:5px; top:581px; width:120px; height:80px}
#vt10{position:absolute; left:462px; padding-top:5px; top:583px; width:120px; height:80px}
#vt11{position:absolute; left:320px; padding-top:5px; top:682px; width:120px; height:80px}
#vt12{position:absolute; left:462px; padding-top:5px; top:682px; width:120px; height:80px}
#vt13{position:absolute; left:1301px; padding-top:5px; top:179px; width:120px; height:80px}
#vt14{position:absolute; left:1082px; padding-top:5px; top:61px; width:120px; height:80px}
#vt15{position:absolute; left:1303px; padding-top:5px; top:282px; width:120px; height:80px}
#vt16{position:absolute; left:1163px; padding-top:5px; top:282px; width:120px; height:80px}
#vt17{position:absolute; left:1162px; padding-top:5px; top:180px; width:120px; height:80px}
#vt18{position:absolute; left:802px; padding-top:5px; top:62px; width:120px; height:80px}
#vt19{position:absolute; left:745px; padding-top:5px; top:379px; width:120px; height:80px}
#vt20{position:absolute; left:602px; padding-top:5px; top:382px; width:120px; height:80px}
#vt21{position:absolute; left:604px; padding-top:5px; top:180px; width:120px; height:80px}
#vt22{position:absolute; left:742px; padding-top:5px; top:180px; width:120px; height:80px}
#vt23{position:absolute; left:1443px; padding-top:5px; top:180px; width:120px; height:80px}
#vt24{position:absolute; left:1301px; padding-top:5px; top:381px; width:120px; height:80px}
#vt25{position:absolute; left:1583px; padding-top:5px; top:584px; width:120px; height:80px}
#vt26{position:absolute; left:1584px; padding-top:5px; top:181px; width:120px; height:80px}
#vt27{position:absolute; left:1163px; padding-top:5px; top:381px; width:120px; height:80px}
#vt28{position:absolute; left:1444px; padding-top:5px; top:282px; width:120px; height:80px}
#vt29{position:absolute; left:1582px; padding-top:5px; top:284px; width:120px; height:80px}
#vt30{position:absolute; left:1442px; padding-top:5px; top:380px; width:120px; height:80px}
#vt31{position:absolute; left:1442px; padding-top:5px; top:480px; width:120px; height:80px}
#vt32{position:absolute; left:1582px; padding-top:5px; top:481px; width:120px; height:80px}
#vt33{position:absolute; left:1162px; padding-top:5px; top:583px; width:120px; height:80px}
#vt34{position:absolute; left:1443px; padding-top:5px; top:582px; width:120px; height:80px}
#vt35{position:absolute; left:1162px; padding-top:5px; top:681px; width:120px; height:80px}
#vt36{position:absolute; left:1303px; padding-top:5px; top:682px; width:120px; height:80px}
#vt37{position:absolute; left:1582px; padding-top:5px; top:380px; width:120px; height:80px}
#vt38{position:absolute; left:1303px; padding-top:5px; top:582px; width:120px; height:80px}
#vt39{position:absolute; left:1302px; padding-top:5px; top:481px; width:120px; height:80px}
#vt40{position:absolute; left:1160px; padding-top:5px; top:481px; width:120px; height:80px}
#vt41{position:absolute; left:883px; padding-top:5px; top:181px; width:120px; height:80px}
#vt42{position:absolute; left:1023px; padding-top:5px; top:280px; width:120px; height:80px}
#vt43{position:absolute; left:1022px; padding-top:5px; top:180px; width:120px; height:80px}
#vt44{position:absolute; left:1443px; padding-top:5px; top:683px; width:120px; height:80px}
#vt45{position:absolute; left:1584px; padding-top:5px; top:682px; width:120px; height:80px}
#vt46{position:absolute; left:601px; padding-top:5px; top:583px; width:120px; height:80px}
#vt47{position:absolute; left:741px; padding-top:5px; top:584px; width:120px; height:80px}
#vt48{position:absolute; left:739px; padding-top:5px; top:481px; width:120px; height:80px}
#vt49{position:absolute; left:881px; padding-top:5px; top:581px; width:120px; height:80px}
#vt50{position:absolute; left:601px; padding-top:5px; top:682px; width:120px; height:80px}
#vt51{position:absolute; left:742px; padding-top:5px; top:682px; width:120px; height:80px}
#vt52{position:absolute; left:882px; padding-top:5px; top:681px; width:120px; height:80px}
#vt53{position:absolute; left:882px; padding-top:5px; top:381px; width:120px; height:80px}
#vt54{position:absolute; left:1024px; padding-top:5px; top:382px; width:120px; height:80px}
#vt55{position:absolute; left:1022px; padding-top:5px; top:482px; width:120px; height:80px}
#vt56{position:absolute; left:599px; padding-top:5px; top:283px; width:120px; height:80px}
#vt57{position:absolute; left:743px; padding-top:5px; top:283px; width:120px; height:80px}
#vt58{position:absolute; left:41px; padding-top:5px; top:823px; width:120px; height:80px}
#vt59{position:absolute; left:162px; padding-top:5px; top:824px; width:120px; height:80px}
#vt60{position:absolute; left:283px; padding-top:5px; top:824px; width:120px; height:80px}
#vt61{position:absolute; left:403px; padding-top:5px; top:826px; width:120px; height:80px}
#vt62{position:absolute; left:521px; padding-top:5px; top:826px; width:120px; height:80px}
#vt63{position:absolute; left:644px; padding-top:5px; top:827px; width:120px; height:80px}
#vt64{position:absolute; left:763px; padding-top:5px; top:824px; width:120px; height:80px}
#vt65{position:absolute; left:887px; padding-top:5px; top:825px; width:120px; height:80px}
#vt66{position:absolute; left:1009px; padding-top:5px; top:824px; width:120px; height:80px}
#vt67{position:absolute; left:1135px; padding-top:5px; top:823px; width:120px; height:80px}
#vt68{position:absolute; left:1260px; padding-top:5px; top:823px; width:120px; height:80px}
#vt69{position:absolute; left:1384px; padding-top:5px; top:823px; width:120px; height:80px}
#vt70{position:absolute; left:1508px; padding-top:5px; top:823px; width:120px; height:80px}
#vt71{position:absolute; left:42px; padding-top:5px; top:924px; width:120px; height:80px}
#vt72{position:absolute; left:162px; padding-top:5px; top:924px; width:120px; height:80px}
#vt73{position:absolute; left:283px; padding-top:5px; top:924px; width:120px; height:80px}
#vt74{position:absolute; left:402px; padding-top:5px; top:924px; width:120px; height:80px}
#vt75{position:absolute; left:523px; padding-top:5px; top:924px; width:120px; height:80px}
#vt76{position:absolute; left:644px; padding-top:5px; top:924px; width:120px; height:80px}
#vt77{position:absolute; left:764px; padding-top:5px; top:920px; width:120px; height:80px}
#vt78{position:absolute; left:883px; padding-top:5px; top:921px; width:120px; height:80px}
#vt79{position:absolute; left:1007px; padding-top:5px; top:919px; width:120px; height:80px}
#vt80{position:absolute; left:1132px; padding-top:5px; top:915px; width:120px; height:80px}
#vt81{position:absolute; left:1259px; padding-top:5px; top:916px; width:120px; height:80px}
#vt82{position:absolute; left:1384px; padding-top:5px; top:915px; width:120px; height:80px}
#vt83{position:absolute; left:1508px; padding-top:5px; top:919px; width:120px; height:80px}
#vt84{position:absolute; left:41px; padding-top:5px; top:1023px; width:120px; height:80px}
#vt85{position:absolute; left:160px; padding-top:5px; top:1023px; width:120px; height:80px}
#vt86{position:absolute; left:280px; padding-top:5px; top:1024px; width:120px; height:80px}
#vt87{position:absolute; left:402px; padding-top:5px; top:1023px; width:120px; height:80px}
#vt88{position:absolute; left:525px; padding-top:5px; top:1023px; width:120px; height:80px}
#vt89{position:absolute; left:647px; padding-top:5px; top:1023px; width:120px; height:80px}
#vt90{position:absolute; left:768px; padding-top:5px; top:1020px; width:120px; height:80px}
#vt91{position:absolute; left:889px; padding-top:5px; top:1023px; width:120px; height:80px}